<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantastic AI Fitness Chatbot</title>
    <h5 class="text-center">Bard Api is free, That's why not taking</h5>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
        #chatbox {
            height: 300px; /* Set a fixed height for the chatbox */
            overflow-y: auto; /* Make the chatbox scrollable */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="jumbotron text-center">Welcome to AI Fitness Coach</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="chatbox" class="border border-success rounded p-3 mb-3">
                    <p class="botText"><span> output will be based on this</span></p>
                    <p class="botText"><span>current body weight- {{output["input1"]}}</span></p>
                    <p class="botText"><span>goal of the body weight- {{output["input2"]}}</span></p>
                    <p class="botText"><span>fitness goal- {{output["input3"]}}</span></p>
                    <p class="botText"><span>---------------------------------------------------</span></p>
                    <p class="botText"><span>Hey there! Let's achieve your fitness goals together.</span></p>
                    <p class="botText"><span>your diet should be</span></p>
                    <p class="botText"><span>{{output["pred"]}}</span></p>
                    <p class="botText"><span>you can chat for more</span></p>
                </div>
                <div id="userInput" class="mb-3">
                    <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type your message here...">
                    <button id="buttonInput" class="btn btn-success btn-block mt-2">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        function getResponse() {
            let userText = $("#textInput").val().trim();
            if (userText === "") return; // Do nothing if input is empty
            let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            $("#chatbox").animate({ scrollTop: $('#chatbox').prop("scrollHeight")}, 1000);

            // Show a toast notification that it may take 5 seconds
            toastr.info("Processing your request. This may take up to 5 seconds or even more ... ");

            $.get("/get", { msg: userText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                $("#chatbox").animate({ scrollTop: $('#chatbox').prop("scrollHeight")}, 1000);
            });
        }

        $("#textInput").keypress(function(e) {
            if (e.which == 13) {
                getResponse();
            }
        });

        $("#buttonInput").click(function() {
            getResponse();
        });
    </script>
</body>
</html>
